@model ApiRotinaMvc.Models.DietaViewModel
@{
    ViewBag.Title = "Nova Dieta";
}
<h2>Criar uma Nova Dieta</h2>
@if (@TempData["Mensagem"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["Mensagem"]</div>
}
<!--Configuração para exibir mensagem de erro -->
@if (@TempData["MensagemErro"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["MensagemErro"]</div>
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <hr/>
        <div class="form-group">
            <label class="control-label col-md-2"> Dia:</label>
            <div class="col-md-6">
                 @Html.EditorFor(model => model.Dia, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Alimentos:</label>
            <div class="col-md-6">
                 @Html.EditorFor(model => model.Alimentos, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Refeições:</label>
            <div class="col-md-6">
                 @Html.EditorFor(model => model.Refeicoes, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Nutrientes:</label>            
            <div class="col-md-6">
                 @Html.EditorFor(model => model.Nutrientes, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <div class="form-group"></div>
            <label class="control-label col-md-2">Classe Dieta:</label>
            <div class="col-md-6">
                 @Html.DropDownListFor(model => model.DietaClass, Html.GetEnumSelectList(typeof(ApiRotinaMvc.Models.Enuns.DietaEnum)),
                    "---Selecione---", new { @class = "form-control" })
            </div>
        </div>
        <br>
        <div class="form-group">
             <div class="col-md-offset-2 col-md-6" >
                <input type="submit" value="Salvar" class="btn btn-primary"/>
             </div>
        </div>
}
<div>
    @Html.ActionLink("Retornar", "IndexDietas")
</div>