<!--Namespace da classe de Modelo para esta view-->
@model IEnumerable<ApiRotinaMvc.Models.DietaViewModel>
<!--Inclua os TempData para Sucesso e Erro aqui, conforme exemplo na view de Autenticação-->
@{
    ViewBag.Title = "Dietas";
}<!--Título da página para o navegador-->
<h2>Relação de Dietas</h2>
@if (@TempData["Mensagem"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["Mensagem"]</div>
}
<!--Configuração para exibir mensagem de erro -->
@if (@TempData["MensagemErro"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["MensagemErro"]</div>
}
<!--Título da página-->
<p>
  <!--Links apontando para views na mesma pasta-->
    @Html.ActionLink("Criar Nova Dieta", "CadastrarDieta")
</p>
<table class="table">
    <tr>
      <!--Títulos das colunas da tabela-->
      <th>@Html.DisplayNameFor(model => model.IdDieta)</th>
      <th>@Html.DisplayNameFor(model => model.Dia)</th>
      <th>@Html.DisplayNameFor(model => model.DietaClass)</th>
      <th>@Html.DisplayNameFor(model => model.Alimentos)</th>
      <th>@Html.DisplayNameFor(model => model.Refeicoes)</th>
      <th>@Html.DisplayNameFor(model => model.Nutrientes)</th>
    </tr>
    <!--Looping para escrever os dados na tabela-->
    @foreach (var item in Model)
    {
      <tr>
        <td>@Html.DisplayFor(modelItem => item.IdDieta)</td>
        <td>@Html.DisplayFor(modelItem => item.Dia)</td>
        <td>@Html.DisplayFor(modelItem => item.DietaClass)</td>
        <td>@Html.DisplayFor(modelItem => item.Alimentos)</td>
        <td>@Html.DisplayFor(modelItem => item.Refeicoes)</td>
        <td>@Html.DisplayFor(modelItem => item.Nutrientes)</td>
        <td>
          <!--Coluna para Links/botões-->
          @Html.ActionLink("Editar", "Editar", new { id = item.IdDieta } ) |
          @Html.ActionLink("Detalhes", "Detalhes", new { id = item.IdDieta }) |
            @Html.ActionLink("Deletar", "Delete", new { id = item.IdDieta }, new {onclick = "return confirm('Deseja realmente deletar esta Dieta ?');"}) 
       </td>
      </tr>
    }
</table>
    
